# Pandas - datové typy a manipulace se sloupci

V minulé lekci jsme si letem světem prohlédli základní nástroje knihovny `pandas` pro práci s tabulkami. Nyní se vrátíme k jednotlivým konceptům a pokusíme se je vysvětlit trochu více do hloubky, aby se ti s nimi lépe pracovalo. Především půjde o objekty typu `Series` a `DataFrame`.

In [2]:
import pandas as pd

### Příprava - data

V každé lekci se snažíme používat trochu jinou datavou sadu. V této se podíváme na některé zajímavé charakteristiky zemí kolem světa.

In [11]:
# TODO: opravit podle toho, jak to bude

url = "https://raw.githubusercontent.com/janpipek/data-pro-pyladies/master/data/countries.csv"
countries = pd.read_csv(url).set_index("name")
countries

,iso_alpha,world_6region,world_4region,income_groups,is_eu,is_oecd,is_g77,eu_accession,geo,year,...,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,co2_emissions_tonnes_per_person,calories_per_day,income_share_of_poorest_10percent,income_share_of_richest_10percent,life_expectancy_years
name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,south_asia,asia,low_income,False,False,True,NaN,afg,2008,...,29840000.0,0.03,20.62,21.07,NaN,0.15410,2041.0,NaN,NaN,55.21
Albania,ALB,europe_central_asia,europe,upper_middle_income,False,False,False,NaN,alb,2008,...,3181000.0,7.29,26.45,25.66,5.978,1.46231,2947.0,3.7,24.5,75.58
Algeria,DZA,middle_east_north_africa,africa,upper_middle_income,False,False,True,NaN,dza,2008,...,34430000.0,0.69,24.60,26.37,NaN,3.16138,3048.0,2.9,26.9,76.12
Angola,AGO,sub_saharan_africa,africa,upper_middle_income,False,False,True,NaN,ago,2008,...,18040000.0,5.57,22.25,23.48,NaN,1.18153,2245.0,2.1,32.3,58.58
Antigua and Barbuda,ATG,america,americas,high_income,False,False,True,NaN,atg,2008,...,86880.0,8.17,25.77,27.51,NaN,5.19450,2380.0,NaN,NaN,76.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,VEN,america,americas,upper_middle_income,False,False,True,NaN,ven,2008,...,28060000.0,7.60,27.45,28.13,7.332,6.36474,2808.0,0.5,34.1,74.89
Vietnam,VNM,east_asia_pacific,asia,lower_middle_income,False,False,True,NaN,vnm,2008,...,85950000.0,3.91,20.92,21.07,NaN,1.36081,2615.0,3.0,28.0,72.53
Yemen,YEM,middle_east_north_africa,asia,lower_middle_income,False,False,True,NaN,yem,2008,...,22630000.0,0.20,24.44,26.11,NaN,0.99924,2134.0,3.3,28.6,66.40
Zambia,ZMB,sub_saharan_africa,africa,lower_middle_income,False,False,True,NaN,zmb,2008,...,12380000.0,3.56,20.68,23.05,11.260,0.16594,1801.0,1.3,43.2,49.40
Zimbabwe,ZWE,sub_saharan_africa,africa,low_income,False,False,True,NaN,zwe,2008,...,12450000.0,4.96,22.03,24.65,20.850,0.57310,2094.0,NaN,NaN,46.71

In [35]:
countries.loc["Czech Republic"]

iso_alpha                                            CZE
world_6region                        europe_central_asia
world_4region                                     europe
income_groups                                high_income
is_eu                                               True
is_oecd                                             True
is_g77                                             False
eu_accession                                  2004-05-01
geo                                                  cze
year                                                2013
area                                               78870
population                                     1.059e+07
alcohol_adults                                     16.47
bmi_men                                            27.91
bmi_women                                          26.51
car_deaths_per_100000_people                        5.72
co2_emissions_tonnes_per_person                  9.31384
calories_per_day                                    3256
income_share_of_poorest_10percent                    3.8
income_share_of_richest_10percent                   22.6
life_expectancy_years                              78.27
Name: Czech Republic, dtype: object

In [5]:
## Typy sloupců

In [4]:
countries.dtypes

name                                  object
iso_alpha                             object
world_6region                         object
world_4region                         object
income_groups                         object
is_eu                                   bool
is_oecd                                 bool
is_g77                                  bool
eu_accession                          object
geo                                   object
year                                   int64
area                                 float64
population                           float64
alcohol_adults                       float64
bmi_men                              float64
bmi_women                            float64
car_deaths_per_100000_people         float64
co2_emissions_tonnes_per_person      float64
calories_per_day                     float64
income_share_of_poorest_10percent    float64
income_share_of_richest_10percent    float64
life_expectancy_years                float64
dtype: object

In [ ]:
## Manipulace se sloupci

In [ ]:
countries...

In [ ]:
countries.drop(, axis=1)

In [6]:
## Matematika

In [12]:
countries["population"] / countries["area"]

name
Afghanistan             45.706583
Albania                110.643478
Algeria                 14.455818
Angola                  14.470201
Antigua and Barbuda    197.454545
                          ...
Venezuela               30.765857
Vietnam                259.627671
Yemen                   42.862284
Zambia                  16.449423
Zimbabwe                31.860989
Length: 177, dtype: float64

In [7]:
## Filtrování

In [28]:
countries["is_eu"].value_counts()

False    149
True      28
Name: is_eu, dtype: int64

In [29]:
countries[countries["is_eu"]]

,iso_alpha,world_6region,world_4region,income_groups,is_eu,is_oecd,is_g77,eu_accession,geo,year,...,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,co2_emissions_tonnes_per_person,calories_per_day,income_share_of_poorest_10percent,income_share_of_richest_10percent,life_expectancy_years
name,,,,,,,,,,,,,,,,,,,,,
Austria,AUT,europe_central_asia,europe,high_income,True,True,False,1995-01-01,aut,2013,...,8441000.0,12.40,26.47,25.09,3.541,7.28460,3768.0,3.1,24.2,81.07
Belgium,BEL,europe_central_asia,europe,high_income,True,True,False,1952-07-23,bel,2013,...,10820000.0,10.41,26.76,25.14,5.427,8.69570,3733.0,3.3,21.8,80.55
Bulgaria,BGR,europe_central_asia,europe,upper_middle_income,True,False,False,2007-01-01,bgr,2013,...,7349000.0,11.40,26.54,25.52,9.662,5.44993,2829.0,1.8,27.5,74.90
Croatia,HRV,europe_central_asia,europe,high_income,True,False,False,2013-01-01,hrv,2013,...,4379000.0,15.00,26.60,25.18,6.434,4.10263,3059.0,2.6,23.7,77.08
Cyprus,CYP,europe_central_asia,europe,high_income,True,False,False,2004-05-01,cyp,2013,...,1141000.0,8.84,27.42,25.93,6.419,5.19966,2649.0,3.2,30.8,80.64
Czech Republic,CZE,europe_central_asia,europe,high_income,True,True,False,2004-05-01,cze,2013,...,10590000.0,16.47,27.91,26.51,5.720,9.31384,3256.0,3.8,22.6,78.27
Denmark,DNK,europe_central_asia,europe,high_income,True,True,False,1973-01-01,dnk,2013,...,5611000.0,12.02,26.13,25.11,3.481,6.83471,3367.0,3.6,23.7,80.39
Estonia,EST,europe_central_asia,europe,high_income,True,False,False,2004-05-01,est,2013,...,1339000.0,17.24,26.26,25.19,5.896,15.05302,3253.0,2.4,26.6,77.13
Finland,FIN,europe_central_asia,europe,high_income,True,True,False,1995-01-01,fin,2013,...,5419000.0,13.10,26.73,25.58,3.615,8.68554,3368.0,3.8,22.2,80.90
France,FRA,europe_central_asia,europe,high_income,True,True,False,1952-07-23,fra,2013,...,63780000.0,12.48,25.85,24.83,2.491,5.22680,3482.0,3.2,26.4,81.95
Germany,DEU,europe_central_asia,europe,high_income,True,True,False,1952-07-23,deu,2013,...,81800000.0,12.14,27.17,25.74,3.280,9.31903,3499.0,3.3,24.6,80.54
Greece,GRC,europe_central_asia,europe,high_income,True,True,False,1981-01-01,grc,2013,...,11450000.0,11.01,26.34,24.92,9.175,6.13731,3400.0,2.0,26.4,80.82
Hungary,HUN,europe_central_asia,europe,upper_middle_income,True,True,False,2004-05-01,hun,2013,...,9934000.0,16.12,27.12,25.98,5.234,4.28190,3037.0,2.9,24.4,75.46
Ireland,IRL,europe_central_asia,europe,high_income,True,True,False,1973-01-01,irl,2013,...,4631000.0,14.92,27.65,26.62,3.768,7.44449,3600.0,2.8,26.0,80.96
Italy,ITA,europe_central_asia,europe,high_income,True,True,False,1952-07-23,ita,2013,...,61090000.0,9.72,26.48,24.79,3.778,5.78732,3579.0,2.0,25.9,82.15
Latvia,LVA,europe_central_asia,europe,high_income,True,False,False,2004-05-01,lva,2013,...,2226000.0,13.45,26.46,25.62,8.275,3.46973,3174.0,2.3,26.8,74.09
Lithuania,LTU,europe_central_asia,europe,high_income,True,False,False,2004-05-01,ltu,2013,...,3278000.0,16.30,26.86,26.01,8.090,4.21713,3417.0,2.5,27.1,74.05
Luxembourg,LUX,europe_central_asia,europe,high_income,True,True,False,1952-07-23,lux,2013,...,530000.0,12.84,27.43,26.09,5.971,18.45210,3539.0,3.1,24.2,81.92
Malta,MLT,europe_central_asia,europe,high_income,True,False,False,2004-05-01,mlt,2013,...,420600.0,4.10,27.68,27.05,2.228,5.52763,3378.0,3.5,23.1,80.99
Netherlands,NLD,europe_central_asia,europe,high_income,True,True,False,1952-07-23,nld,2013,...,16760000.0,9.75,26.02,25.47,2.237,10.28847,3228.0,3.6,22.7,81.29
Poland,POL,europe_central_asia,europe,high_income,True,True,False,2004-05-01,pol,2008,...,38220000.0,14.43,26.67,25.92,7.675,8.21508,3346.0,NaN,NaN,75.61
Portugal,PRT,europe_central_asia,europe,high_income,True,True,False,1986-01-01,prt,2013,...,10700000.0,13.89,26.68,26.18,5.078,4.31499,3477.0,2.1,27.5,80.52
Romania,ROU,europe_central_asia,europe,upper_middle_income,True,False,False,2007-01-01,rou,2013,...,21340000.0,16.15,25.41,25.22,8.808,3.53522,3358.0,1.6,25.4,74.77
Slovak Republic,SVK,europe_central_asia,europe,high_income,True,True,False,2004-05-01,svk,2013,...,5489000.0,13.31,26.93,26.32,6.746,6.09958,2944.0,3.0,22.1,76.47
Slovenia,SVN,europe_central_asia,europe,high_income,True,False,False,2004-05-01,svn,2013,...,2045000.0,14.94,27.44,26.58,5.315,6.84905,3168.0,3.6,21.4,80.26
Spain,ESP,europe_central_asia,europe,high_income,True,True,False,1986-01-01,esp,2013,...,47040000.0,11.83,27.50,26.31,5.146,5.07596,3174.0,1.9,25.9,82.60
Sweden,SWE,europe_central_asia,europe,high_income,True,True,False,1995-01-01,swe,2013,...,9546000.0,9.50,26.38,25.15,2.737,4.66420,3179.0,2.9,22.2,81.89
United Kingdom,GBR,europe_central_asia,europe,high_income,True,True,False,1973-01-01,gbr,2013,...,63180000.0,13.24,27.39,26.94,3.377,7.08915,3424.0,2.9,25.3,80.74

In [31]:
countries.query("is_oecd")

,iso_alpha,world_6region,world_4region,income_groups,is_eu,is_oecd,is_g77,eu_accession,geo,year,...,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,co2_emissions_tonnes_per_person,calories_per_day,income_share_of_poorest_10percent,income_share_of_richest_10percent,life_expectancy_years
name,,,,,,,,,,,,,,,,,,,,,
Australia,AUS,east_asia_pacific,asia,high_income,False,True,False,NaN,aus,2008,...,21510000.0,10.21,27.56,26.88,5.335,18.08149,3199.0,2.8,27.4,81.57
Austria,AUT,europe_central_asia,europe,high_income,True,True,False,1995-01-01,aut,2013,...,8441000.0,12.40,26.47,25.09,3.541,7.28460,3768.0,3.1,24.2,81.07
Belgium,BEL,europe_central_asia,europe,high_income,True,True,False,1952-07-23,bel,2013,...,10820000.0,10.41,26.76,25.14,5.427,8.69570,3733.0,3.3,21.8,80.55
Canada,CAN,america,americas,high_income,False,True,False,NaN,can,2008,...,33330000.0,10.20,27.45,26.70,6.333,16.79499,3465.0,2.7,26.0,80.82
Czech Republic,CZE,europe_central_asia,europe,high_income,True,True,False,2004-05-01,cze,2013,...,10590000.0,16.47,27.91,26.51,5.720,9.31384,3256.0,3.8,22.6,78.27
Denmark,DNK,europe_central_asia,europe,high_income,True,True,False,1973-01-01,dnk,2013,...,5611000.0,12.02,26.13,25.11,3.481,6.83471,3367.0,3.6,23.7,80.39
Finland,FIN,europe_central_asia,europe,high_income,True,True,False,1995-01-01,fin,2013,...,5419000.0,13.10,26.73,25.58,3.615,8.68554,3368.0,3.8,22.2,80.90
France,FRA,europe_central_asia,europe,high_income,True,True,False,1952-07-23,fra,2013,...,63780000.0,12.48,25.85,24.83,2.491,5.22680,3482.0,3.2,26.4,81.95
Germany,DEU,europe_central_asia,europe,high_income,True,True,False,1952-07-23,deu,2013,...,81800000.0,12.14,27.17,25.74,3.280,9.31903,3499.0,3.3,24.6,80.54
Greece,GRC,europe_central_asia,europe,high_income,True,True,False,1981-01-01,grc,2013,...,11450000.0,11.01,26.34,24.92,9.175,6.13731,3400.0,2.0,26.4,80.82
Hungary,HUN,europe_central_asia,europe,upper_middle_income,True,True,False,2004-05-01,hun,2013,...,9934000.0,16.12,27.12,25.98,5.234,4.28190,3037.0,2.9,24.4,75.46
Iceland,ISL,europe_central_asia,europe,high_income,False,True,False,NaN,isl,2008,...,310700.0,7.38,27.21,26.03,3.435,6.81774,3428.0,3.6,27.0,81.78
Ireland,IRL,europe_central_asia,europe,high_income,True,True,False,1973-01-01,irl,2013,...,4631000.0,14.92,27.65,26.62,3.768,7.44449,3600.0,2.8,26.0,80.96
Israel,ISR,middle_east_north_africa,asia,high_income,False,True,False,NaN,isr,2008,...,7092000.0,2.52,27.13,27.30,4.589,9.61828,3523.0,1.8,29.4,80.52
Italy,ITA,europe_central_asia,europe,high_income,True,True,False,1952-07-23,ita,2013,...,61090000.0,9.72,26.48,24.79,3.778,5.78732,3579.0,2.0,25.9,82.15
Japan,JPN,east_asia_pacific,asia,high_income,False,True,False,NaN,jpn,2008,...,126500000.0,7.79,23.50,21.87,1.381,9.41370,2734.0,2.7,24.7,82.50
Luxembourg,LUX,europe_central_asia,europe,high_income,True,True,False,1952-07-23,lux,2013,...,530000.0,12.84,27.43,26.09,5.971,18.45210,3539.0,3.1,24.2,81.92
Mexico,MEX,america,americas,upper_middle_income,False,True,False,NaN,mex,2008,...,110600000.0,8.55,27.42,28.74,9.468,4.33964,3079.0,2.0,35.2,75.46
Netherlands,NLD,europe_central_asia,europe,high_income,True,True,False,1952-07-23,nld,2013,...,16760000.0,9.75,26.02,25.47,2.237,10.28847,3228.0,3.6,22.7,81.29
New Zealand,NZL,east_asia_pacific,asia,high_income,False,True,False,NaN,nzl,2008,...,4278000.0,9.99,27.77,27.37,7.600,7.99428,3205.0,NaN,NaN,80.33
Norway,NOR,europe_central_asia,europe,high_income,False,True,False,NaN,nor,2008,...,4779000.0,8.35,26.93,25.74,3.125,11.67176,3478.0,3.5,21.8,80.69
Poland,POL,europe_central_asia,europe,high_income,True,True,False,2004-05-01,pol,2008,...,38220000.0,14.43,26.67,25.92,7.675,8.21508,3346.0,NaN,NaN,75.61
Portugal,PRT,europe_central_asia,europe,high_income,True,True,False,1986-01-01,prt,2013,...,10700000.0,13.89,26.68,26.18,5.078,4.31499,3477.0,2.1,27.5,80.52
Slovak Republic,SVK,europe_central_asia,europe,high_income,True,True,False,2004-05-01,svk,2013,...,5489000.0,13.31,26.93,26.32,6.746,6.09958,2944.0,3.0,22.1,76.47
South Korea,KOR,east_asia_pacific,asia,high_income,False,True,False,NaN,kor,2008,...,47730000.0,19.15,23.99,23.33,4.319,10.31289,3187.0,2.6,24.5,79.55
Spain,ESP,europe_central_asia,europe,high_income,True,True,False,1986-01-01,esp,2013,...,47040000.0,11.83,27.50,26.31,5.146,5.07596,3174.0,1.9,25.9,82.60
Sweden,SWE,europe_central_asia,europe,high_income,True,True,False,1995-01-01,swe,2013,...,9546000.0,9.50,26.38,25.15,2.737,4.66420,3179.0,2.9,22.2,81.89
Switzerland,CHE,europe_central_asia,europe,high_income,False,True,False,NaN,che,2008,...,7573000.0,11.41,26.20,24.07,2.342,5.28412,3445.0,3.0,26.3,81.83
Turkey,TUR,europe_central_asia,europe,upper_middle_income,False,True,False,NaN,tur,2008,...,70920000.0,3.02,26.70,28.25,7.189,4.03151,3595.0,2.1,29.4,78.76
United Kingdom,GBR,europe_central_asia,europe,high_income,True,True,False,1973-01-01,gbr,2013,...,63180000.0,13.24,27.39,26.94,3.377,7.08915,3424.0,2.9,25.3,80.74
United States,USA,america,americas,high_income,False,True,False,NaN,usa,2008,...,305000000.0,9.70,28.46,28.34,9.523,18.50557,3700.0,1.7,30.5,78.33

## Řazení

V úvodní lekci `pandas` jsme si již ukázali, jak pomocí metody `sort_index` seřadit řádky podle indexu.

In [22]:
countries["population"].sort_values()

name
Dominica               6.816000e+04
Antigua and Barbuda    8.688000e+04
Kiribati               9.653000e+04
Tonga                  9.848000e+04
Grenada                1.037000e+05
                           ...
Brazil                 1.915000e+08
Indonesia              2.350000e+08
United States          3.050000e+08
India                  1.191000e+09
China                  1.328000e+09
Name: population, Length: 177, dtype: float64

In [23]:
countries["area"].sort_values(ascending=False)

name
Russia                            17098240.0
Canada                             9984670.0
United States                      9831510.0
China                              9562910.8
Brazil                             8515770.0
                                     ...
Barbados                               430.0
St. Vincent and the Grenadines         390.0
Grenada                                340.0
Malta                                  320.0
Maldives                               300.0
Name: area, Length: 177, dtype: float64

In [25]:
countries.sort_values("alcohol_adults", ascending=False).head(10)

,iso_alpha,world_6region,world_4region,income_groups,is_eu,is_oecd,is_g77,eu_accession,geo,year,...,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,co2_emissions_tonnes_per_person,calories_per_day,income_share_of_poorest_10percent,income_share_of_richest_10percent,life_expectancy_years
name,,,,,,,,,,,,,,,,,,,,,
Moldova,MDA,europe_central_asia,europe,lower_middle_income,False,False,False,NaN,mda,2008,...,3635000.0,23.01,24.24,27.06,5.529,1.16215,2788.0,2.9,27.1,69.58
South Korea,KOR,east_asia_pacific,asia,high_income,False,True,False,NaN,kor,2008,...,47730000.0,19.15,23.99,23.33,4.319,10.31289,3187.0,2.6,24.5,79.55
Belarus,BLR,europe_central_asia,europe,upper_middle_income,False,False,False,NaN,blr,2008,...,9681000.0,18.85,26.16,26.64,8.454,6.63755,3200.0,3.7,22.3,70.18
North Korea,PRK,east_asia_pacific,asia,low_income,False,False,True,NaN,prk,2005,...,23750000.0,18.28,22.01,21.26,NaN,3.16151,2180.0,NaN,NaN,69.76
Ukraine,UKR,europe_central_asia,europe,lower_middle_income,False,False,False,NaN,ukr,2008,...,45990000.0,17.47,25.42,26.23,8.771,6.73410,3297.0,4.1,21.9,67.97
Estonia,EST,europe_central_asia,europe,high_income,True,False,False,2004-05-01,est,2013,...,1339000.0,17.24,26.26,25.19,5.896,15.05302,3253.0,2.4,26.6,77.13
Czech Republic,CZE,europe_central_asia,europe,high_income,True,True,False,2004-05-01,cze,2013,...,10590000.0,16.47,27.91,26.51,5.720,9.31384,3256.0,3.8,22.6,78.27
Uganda,UGA,sub_saharan_africa,africa,low_income,False,False,True,NaN,uga,2008,...,31340000.0,16.40,22.36,22.48,13.690,0.10075,2177.0,2.4,34.5,55.11
Lithuania,LTU,europe_central_asia,europe,high_income,True,False,False,2004-05-01,ltu,2013,...,3278000.0,16.30,26.86,26.01,8.090,4.21713,3417.0,2.5,27.1,74.05
Russia,RUS,europe_central_asia,europe,high_income,False,False,False,NaN,rus,2008,...,143200000.0,16.23,26.01,27.21,14.380,11.98589,3312.0,2.4,32.5,67.99

In [21]:
countries[countries["is_eu"]].sort_values(["eu_accession", "population"])

,iso_alpha,world_6region,world_4region,income_groups,is_eu,is_oecd,is_g77,eu_accession,geo,year,...,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,co2_emissions_tonnes_per_person,calories_per_day,income_share_of_poorest_10percent,income_share_of_richest_10percent,life_expectancy_years
name,,,,,,,,,,,,,,,,,,,,,
Luxembourg,LUX,europe_central_asia,europe,high_income,True,True,False,1952-07-23,lux,2013,...,530000.0,12.84,27.43,26.09,5.971,18.45210,3539.0,3.1,24.2,81.92
Belgium,BEL,europe_central_asia,europe,high_income,True,True,False,1952-07-23,bel,2013,...,10820000.0,10.41,26.76,25.14,5.427,8.69570,3733.0,3.3,21.8,80.55
Netherlands,NLD,europe_central_asia,europe,high_income,True,True,False,1952-07-23,nld,2013,...,16760000.0,9.75,26.02,25.47,2.237,10.28847,3228.0,3.6,22.7,81.29
Italy,ITA,europe_central_asia,europe,high_income,True,True,False,1952-07-23,ita,2013,...,61090000.0,9.72,26.48,24.79,3.778,5.78732,3579.0,2.0,25.9,82.15
France,FRA,europe_central_asia,europe,high_income,True,True,False,1952-07-23,fra,2013,...,63780000.0,12.48,25.85,24.83,2.491,5.22680,3482.0,3.2,26.4,81.95
Germany,DEU,europe_central_asia,europe,high_income,True,True,False,1952-07-23,deu,2013,...,81800000.0,12.14,27.17,25.74,3.280,9.31903,3499.0,3.3,24.6,80.54
Ireland,IRL,europe_central_asia,europe,high_income,True,True,False,1973-01-01,irl,2013,...,4631000.0,14.92,27.65,26.62,3.768,7.44449,3600.0,2.8,26.0,80.96
Denmark,DNK,europe_central_asia,europe,high_income,True,True,False,1973-01-01,dnk,2013,...,5611000.0,12.02,26.13,25.11,3.481,6.83471,3367.0,3.6,23.7,80.39
United Kingdom,GBR,europe_central_asia,europe,high_income,True,True,False,1973-01-01,gbr,2013,...,63180000.0,13.24,27.39,26.94,3.377,7.08915,3424.0,2.9,25.3,80.74
Greece,GRC,europe_central_asia,europe,high_income,True,True,False,1981-01-01,grc,2013,...,11450000.0,11.01,26.34,24.92,9.175,6.13731,3400.0,2.0,26.4,80.82
Portugal,PRT,europe_central_asia,europe,high_income,True,True,False,1986-01-01,prt,2013,...,10700000.0,13.89,26.68,26.18,5.078,4.31499,3477.0,2.1,27.5,80.52
Spain,ESP,europe_central_asia,europe,high_income,True,True,False,1986-01-01,esp,2013,...,47040000.0,11.83,27.50,26.31,5.146,5.07596,3174.0,1.9,25.9,82.60
Finland,FIN,europe_central_asia,europe,high_income,True,True,False,1995-01-01,fin,2013,...,5419000.0,13.10,26.73,25.58,3.615,8.68554,3368.0,3.8,22.2,80.90
Austria,AUT,europe_central_asia,europe,high_income,True,True,False,1995-01-01,aut,2013,...,8441000.0,12.40,26.47,25.09,3.541,7.28460,3768.0,3.1,24.2,81.07
Sweden,SWE,europe_central_asia,europe,high_income,True,True,False,1995-01-01,swe,2013,...,9546000.0,9.50,26.38,25.15,2.737,4.66420,3179.0,2.9,22.2,81.89
Malta,MLT,europe_central_asia,europe,high_income,True,False,False,2004-05-01,mlt,2013,...,420600.0,4.10,27.68,27.05,2.228,5.52763,3378.0,3.5,23.1,80.99
Cyprus,CYP,europe_central_asia,europe,high_income,True,False,False,2004-05-01,cyp,2013,...,1141000.0,8.84,27.42,25.93,6.419,5.19966,2649.0,3.2,30.8,80.64
Estonia,EST,europe_central_asia,europe,high_income,True,False,False,2004-05-01,est,2013,...,1339000.0,17.24,26.26,25.19,5.896,15.05302,3253.0,2.4,26.6,77.13
Slovenia,SVN,europe_central_asia,europe,high_income,True,False,False,2004-05-01,svn,2013,...,2045000.0,14.94,27.44,26.58,5.315,6.84905,3168.0,3.6,21.4,80.26
Latvia,LVA,europe_central_asia,europe,high_income,True,False,False,2004-05-01,lva,2013,...,2226000.0,13.45,26.46,25.62,8.275,3.46973,3174.0,2.3,26.8,74.09
Lithuania,LTU,europe_central_asia,europe,high_income,True,False,False,2004-05-01,ltu,2013,...,3278000.0,16.30,26.86,26.01,8.090,4.21713,3417.0,2.5,27.1,74.05
Slovak Republic,SVK,europe_central_asia,europe,high_income,True,True,False,2004-05-01,svk,2013,...,5489000.0,13.31,26.93,26.32,6.746,6.09958,2944.0,3.0,22.1,76.47
Hungary,HUN,europe_central_asia,europe,upper_middle_income,True,True,False,2004-05-01,hun,2013,...,9934000.0,16.12,27.12,25.98,5.234,4.28190,3037.0,2.9,24.4,75.46
Czech Republic,CZE,europe_central_asia,europe,high_income,True,True,False,2004-05-01,cze,2013,...,10590000.0,16.47,27.91,26.51,5.720,9.31384,3256.0,3.8,22.6,78.27
Poland,POL,europe_central_asia,europe,high_income,True,True,False,2004-05-01,pol,2008,...,38220000.0,14.43,26.67,25.92,7.675,8.21508,3346.0,NaN,NaN,75.61
Bulgaria,BGR,europe_central_asia,europe,upper_middle_income,True,False,False,2007-01-01,bgr,2013,...,7349000.0,11.40,26.54,25.52,9.662,5.44993,2829.0,1.8,27.5,74.90
Romania,ROU,europe_central_asia,europe,upper_middle_income,True,False,False,2007-01-01,rou,2013,...,21340000.0,16.15,25.41,25.22,8.808,3.53522,3358.0,1.6,25.4,74.77
Croatia,HRV,europe_central_asia,europe,high_income,True,False,False,2013-01-01,hrv,2013,...,4379000.0,15.00,26.60,25.18,6.434,4.10263,3059.0,2.6,23.7,77.08

In [14]:
countries.assign(density=countries["population"] / countries["area"]).sort_values("density", ascending=False)[["population", "area", "density"]]

                   population       area      density
name
Hong Kong, China    6873000.0     1100.0  6248.181818
Malta                420600.0      320.0  1314.375000
Maldives             295200.0      300.0   984.000000
Bangladesh        145500000.0   148460.0   980.061970
Barbados             272200.0      430.0   633.023256
...                       ...        ...          ...
Suriname             515100.0   163820.0     3.144305
Iceland              310700.0   103000.0     3.016505
Australia          21510000.0  7741220.0     2.778632
Namibia             2200000.0   824290.0     2.668964
Mongolia            2667000.0  1564120.0     1.705112

[177 rows x 3 columns]

In [36]:
countries.sort_index(axis=1)

,alcohol_adults,area,bmi_men,bmi_women,calories_per_day,car_deaths_per_100000_people,co2_emissions_tonnes_per_person,eu_accession,geo,income_groups,...,income_share_of_richest_10percent,is_eu,is_g77,is_oecd,iso_alpha,life_expectancy_years,population,world_4region,world_6region,year
name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.03,652860.0,20.62,21.07,2041.0,NaN,0.15410,NaN,afg,low_income,...,NaN,False,True,False,AFG,55.21,29840000.0,asia,south_asia,2008
Albania,7.29,28750.0,26.45,25.66,2947.0,5.978,1.46231,NaN,alb,upper_middle_income,...,24.5,False,False,False,ALB,75.58,3181000.0,europe,europe_central_asia,2008
Algeria,0.69,2381740.0,24.60,26.37,3048.0,NaN,3.16138,NaN,dza,upper_middle_income,...,26.9,False,True,False,DZA,76.12,34430000.0,africa,middle_east_north_africa,2008
Angola,5.57,1246700.0,22.25,23.48,2245.0,NaN,1.18153,NaN,ago,upper_middle_income,...,32.3,False,True,False,AGO,58.58,18040000.0,africa,sub_saharan_africa,2008
Antigua and Barbuda,8.17,440.0,25.77,27.51,2380.0,NaN,5.19450,NaN,atg,high_income,...,NaN,False,True,False,ATG,76.62,86880.0,americas,america,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,7.60,912050.0,27.45,28.13,2808.0,7.332,6.36474,NaN,ven,upper_middle_income,...,34.1,False,True,False,VEN,74.89,28060000.0,americas,america,2008
Vietnam,3.91,331051.0,20.92,21.07,2615.0,NaN,1.36081,NaN,vnm,lower_middle_income,...,28.0,False,True,False,VNM,72.53,85950000.0,asia,east_asia_pacific,2008
Yemen,0.20,527970.0,24.44,26.11,2134.0,NaN,0.99924,NaN,yem,lower_middle_income,...,28.6,False,True,False,YEM,66.40,22630000.0,asia,middle_east_north_africa,2008
Zambia,3.56,752610.0,20.68,23.05,1801.0,11.260,0.16594,NaN,zmb,lower_middle_income,...,43.2,False,True,False,ZMB,49.40,12380000.0,africa,sub_saharan_africa,2008
Zimbabwe,4.96,390760.0,22.03,24.65,2094.0,20.850,0.57310,NaN,zwe,low_income,...,NaN,False,True,False,ZWE,46.71,12450000.0,africa,sub_saharan_africa,2008

**Úkol:** Které země mají problémy s nadváhou (průměrné BMI mužů a žen je přes 25)?

In [40]:
bmi = (countries["bmi_men"] + countries["bmi_women"]) / 2
bmi[bmi > 25].sort_values(ascending=False)

name
Samoa                    32.040
Tonga                    31.305
Kiribati                 30.275
Kuwait                   30.165
Micronesia, Fed. Sts.    29.270
                          ...
Kyrgyz Republic          25.215
Switzerland              25.135
Malaysia                 25.090
Guyana                   25.075
Gabon                    25.015
Length: 111, dtype: float64

**Úkol:** V kterých 20 zemích umře na světě nejvíc lidí při automobilových haváriích?

In [43]:
(countries["population"] * countries["car_deaths_per_100000_people"] / 100000).sort_values(ascending=False).head(20)

name
China            47675.2000
India            36134.9400
United States    29045.1500
Russia           20592.1600
Iran             19323.1170
Ethiopia         15135.2250
Mexico           10471.6080
Egypt             8380.2400
Kenya             7226.6340
Tanzania          6995.6850
Bangladesh        6403.4550
Myanmar           5670.0000
Turkey            5098.4388
Morocco           4776.3000
Niger             4453.4900
South Africa      4392.9324
Uganda            4290.4460
Ukraine           4033.7829
Sudan             3883.6260
Cameroon          3838.2960
dtype: float64